doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/style.css")
        title CODEGROT
    body 
        header 
            nav.navegador
                div.navegador_logo
                    p LOGO
                div.navegador_items
                    p. ABOUT ME
                    p. MY JOBS
                    p. CONTACT
    main.menu_principal
        div.menu_principal--img
            img(src="../images/index.jpg", alt="menu principal")
            p.hello HELLO.
            p.iam I AM
            p.agustin AGUSTIN
        div.subtitulo
            span.bombilla
                img(src="../images/bombilla.svg", alt="lenguajes que uso")
        h2.subtituloh2 LANGUAGES I USE
        section.grid-lenguajes
            span
                img(src="../images/html.svg", alt="")
            span
                img(src="../images/css.svg", alt="")
            span
                img(src="../images/javascript.svg", alt="")
            span
                img(src="../images/pug.png", alt="")
            span
                img(src="../images/sass.png", alt="")
            span
                img(src="../images/reactjs.png", alt="")
            span
                img(src="../images/bootstrap.png", alt="")
            span
                img(src="../images/tailoo.png", alt="")
            span
                img(src="../images/foundation.png", alt="")
        
